/* border */

.border {
  border: 1px solid !important;
  border-color: inherit !important;
}

.border-left {
  border-left: 1px solid !important;
  border-left-color: inherit !important;
}

.border-right {
  border-right: 1px solid !important;
  border-right-color: inherit !important;
}

.border-top {
  border-top: 1px solid !important;
  border-top-color: inherit !important;
}

.border-bottom {
  border-bottom: 1px solid !important;
  border-bottom-color: inherit !important;
}

.border-dashed {
  border: 1px dashed !important;
  border-color: inherit !important;
}

/* ... */

/* red border */

.border-red {
  border-color: $red !important;
}

/* ... */

/* primary border */

.border-primary-10 {
  border-color: $primary-10 !important;
}

.border-primary-9 {
  border-color: $primary-9 !important;
}

.border-primary-8 {
  border-color: $primary-8 !important;
}

.border-primary-7 {
  border-color: $primary-7 !important;
}

.border-primary-6 {
  border-color: $primary-6 !important;
}

.border-primary-5 {
  border-color: $primary-5 !important;
}

.border-primary-4 {
  border-color: $primary-4 !important;
}

.border-primary-3 {
  border-color: $primary-3 !important;
}

.border-primary-2 {
  border-color: $primary-2 !important;
}

.border-primary-1 {
  border-color: $primary-1 !important;
}

/* ... */

/* secondary border */

.border-secondary-10 {
  border-color: $secondary-10 !important;
}

.border-secondary-9 {
  border-color: $secondary-9 !important;
}

.border-secondary-8 {
  border-color: $secondary-8 !important;
}

.border-secondary-7 {
  border-color: $secondary-7 !important;
}

.border-secondary-6 {
  border-color: $secondary-6 !important;
}

.border-secondary-5 {
  border-color: $secondary-5 !important;
}

.border-secondary-4 {
  border-color: $secondary-4 !important;
}

.border-secondary-3 {
  border-color: $secondary-3 !important;
}

.border-secondary-2 {
  border-color: $secondary-2 !important;
}

.border-secondary-1 {
  border-color: $secondary-1 !important;
}

/* ... */

/* gray border */

.border-gray-10 {
  border-color: $gray-10 !important;
}

.border-gray-9 {
  border-color: $gray-9 !important;
}

.border-gray-8 {
  border-color: $gray-8 !important;
}

.border-gray-7 {
  border-color: $gray-7 !important;
}

.border-gray-6 {
  border-color: $gray-6 !important;
}

.border-gray-5 {
  border-color: $gray-5 !important;
}

.border-gray-4 {
  border-color: $gray-4 !important;
}

.border-gray-3 {
  border-color: $gray-3 !important;
}

.border-gray-2 {
  border-color: $gray-2 !important;
}

.border-gray-1 {
  border-color: $gray-1 !important;
}

/* ... */

/* border radius */

.rounded-none {
  border-radius: 0;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-full {
  border-radius: 9999px;
}

/* ... */
