/* primary */

.text-primary-10 {
  color: $primary-10;
}

.text-primary-9 {
  color: $primary-9;
}

.text-primary-8 {
  color: $primary-8;
}

.text-primary-7 {
  color: $primary-7;
}

.text-primary-6 {
  color: $primary-6;
}

.text-primary-5 {
  color: $primary-5;
}

.text-primary-4 {
  color: $primary-4;
}

.text-primary-3 {
  color: $primary-3;
}

.text-primary-2 {
  color: $primary-2;
}

.text-primary-1 {
  color: $primary-1;
}

/* ... */

/* secondary */

.text-secondary-10 {
  color: $secondary-10;
}

.text-secondary-9 {
  color: $secondary-9;
}

.text-secondary-8 {
  color: $secondary-8;
}

.text-secondary-7 {
  color: $secondary-7;
}

.text-secondary-6 {
  color: $secondary-6;
}

.text-secondary-5 {
  color: $secondary-5;
}

.text-secondary-4 {
  color: $secondary-4;
}

.text-secondary-3 {
  color: $secondary-3;
}

.text-secondary-2 {
  color: $secondary-2;
}

.text-secondary-1 {
  color: $secondary-1;
}

/* ... */

/* gray */

.text-gray-10 {
  color: $gray-10;
}

.text-gray-9 {
  color: $gray-9;
}

.text-gray-8 {
  color: $gray-8;
}

.text-gray-7 {
  color: $gray-7;
}

.text-gray-6 {
  color: $gray-6;
}

.text-gray-5 {
  color: $gray-5;
}

.text-gray-4 {
  color: $gray-4;
}

.text-gray-3 {
  color: $gray-3;
}

.text-gray-2 {
  color: $gray-2;
}

.text-gray-1 {
  color: $gray-1;
}

/* ... */
