// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #643094;
$secondary: #00bcd4;
$accent: #94a3b8;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$primary-1: #f7f5fa;
$primary-2: #f0eaf4;
$primary-3: #d8cbe4;
$primary-4: #c1acd4;
$primary-5: #936eb4;
$primary-6: #643094;
$primary-7: #5a2b85;
$primary-8: #4b246f;
$primary-9: #3c1d59;
$primary-10: #311849;

$secondary-1: #f2fcfd;
$secondary-2: #e6f8fb;
$secondary-3: #bfeef4;
$secondary-4: #99e4ee;
$secondary-5: #4dd0e1;
$secondary-6: #00bcd4;
$secondary-7: #00a9bf;
$secondary-8: #008d9f;
$secondary-9: #00717f;
$secondary-10: #005c68;

$gray-1: #f8fafc;
$gray-2: #f1f5f9;
$gray-3: #e2e8f0;
$gray-4: #cbd5e1;
$gray-5: #94a3b8;
$gray-6: #64748b;
$gray-7: #475569;
$gray-8: #334155;
$gray-9: #1e293b;
$gray-10: #0f172a;

@import "~quasar-variables-styl";
